{% extends "base.html" %}
{% load static %}
{% block title %} 1XPredict Vip Tips {% endblock %}
{% block content %}

<div align = "center">
<div class="card border-success mb-3" style="max-width: 26rem;" align = "center">
  <div class="card-header bg-info border-success"><b>Register a new account</b></div>
  <hr>
  <div class="card-body text-success">

<form method="post">
  {% csrf_token %}
  {% for field in form %}
 <p>
  <div style="color:blue"> <b>{{ field.label_tag }} </b></div>
   {{ field }}

   {% for error in field.errors %}
     <p style="color: red">{{ error }}</p>
   {% endfor %}
 </p>
{% endfor %}
  <br>
<div align = "center">

  <button type="submit" class="btn btn-success" ><h5>Register</h5></button>
</div>

</form>

</div>
<hr>
<div class="card-footer bg-transparent border-success"><a href="/accounts/login/"><b> Already a member? Login </b> </a></div>
</div></div>

{% endblock %}
