{% extends "vipTips/vipbase.html" %}
{% load static %}
{% block title %} 1XPredict Free Tips {% endblock %}
{% block content %}

{% regroup home_page_teams by ticket as ticket_list %}

 {% for ticket in ticket_list %}

  {% if forloop.first %}

  <font style="color:green"><h5>{{ ticket.grouper }}</h5></font>

<div style="overflow-x:auto;">
<table border="2" cellpadding = "5">
<br>
<tr style='background-color: indigo'>
<th style='color: white'>Country</th>
<th style='color: white'>Home Team</th>
<th style='color: white'>Score</th>
<th style='color: white'>Away Team</th>
<th style='color: white'>Prediction</th>
<th style='color: white'>Odds</th>
<th style='color: white'>Status</th>
</tr>

  {% for item in ticket.list %}

  <tr>
      <td style='background-color: plum;' >{{ item.country }}</td>

      <td >{{ item.home_team }}</td>

      <td style='background-color: plum;' >{{ item.home_score}} - {{ item.away_score }}</td>

      <td>{{ item.away_team }}</td>

      <td style='background-color: plum;' >{{ item.prediction}}</td>

      <td>{{ item.odds}}</td>

      {% if item.status == 'Lost' %}

      <td style='background-color: #FF5733;'>{{ item.status}}</td>

      {% elif item.status == 'Won' %}

      <td style='background-color: Limegreen;' >{{ item.status}}</td>

      {% else %}

      <td >{{ item.status}}</td>

      {% endif %}


  </tr>
  {% endfor %}
</table>
</div>
  {% endif %}

  {% endfor %}

{% endblock %}
