{% extends "vipTips/vipbase.html" %}
{% load static %}
{% block title %} 1XPredict Free Tips {% endblock %}
{% block content %}

  <h4 class="h4" align = "center">
    Any Question?
  </h4>

<h4>
  CONTACT US VIA WHATSAPP +254703419149 <font style="color:blue"> OR EMAIL US ON </font> <i>1xpredict@gmail.com</i>
  </h4>

  <p>
    1XPredict is all about trust
  </p>


  <p>
    Your log in credentials are meant for you alone
  </p>

  <p>
    Sharing them with anyone else may lead to suspension of your account
  </p>
  <p>
    Use the navigation bar to check out our Services
  </p>


{% endblock %}
