{% load static %}
<nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0px; background-color: #66B447;">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container-fluid">
      <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/homeVip/" style="color: #ffffff; font-weight: bolder">1XPredict</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
          <li class="divider"></li>
          <li><a href="/homeVip/" style="color: #ffffff"><span class="glyphicon glyphicon-glass" aria-hidden="true"></span> <b>Home</b></a></li>

          <li><a href="/vipTips/" style="color: #ffffff"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> <b>Vip Tips</b></a></li>

          <li><a href="/punter/" style="color: #ffffff"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> <b>Punter Pick</b></a></li>

          <li><a href="/roll/" style="color: #ffffff"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> <b> Roll Over</b></a></li>

          <li><a href="/accounts/logout/" style="color: #ffffff"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <b> Logout</b></a></li>
        </ul>

      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div>
</nav>
