{% extends "base.html" %}

{% load static %}

{% block title %}

Predictpoa.com - Best Football Prediction in the world

{% endblock %}

{% block content %}

{% include "loading_first_tips.html" %}

<div class="container">
   <div class="row" >

     <div class="col-sm-6 ">
       <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5"></div>
     </div>

     <div class="col-sm-4 offset-md-2 ">

       <div class="card border-success mb-3" style="max-width: 18rem;">

  <div class="card-header bg-info border-success" align = "center">Predict Poa</b></div>

  <div class="card-body text-success" align = "center">
    <hr>
<p>We give free tips on our platform.In those free tips you are suppose to pick utmost 5 games. You can either have them in one or two groups. Our free tips winning rate is over 80%. Apart from that we also have vip of 3 odds daily. For you to join vip we charge a little value on it</p>
  </div>

  </div>

     </div>

   </div>
 </div>

{% endblock %}
