{% extends "base.html" %}

{% load static %}

{% block title %}

Predictpoa.com - Vip Payment Methods

{% endblock %}

{% block content %}
<br>
<div class="container">
   <div class="row" >

     <div class="col-sm-4 offset-md-1 ">

       <div class="card border-success mb-3" style="max-width: 18rem;">

  <div class="card-header bg-info border-success" align = "center">Predict Poa</b></div>

  <div class="card-body text-success" align = "center">
    <hr>
<p>In our vip we give 3 odds daily.You need to register an account and make payment through any of the payment methods provided.Our winning rate is 23 to 26 days a month.Subscription fee; ksh 999, 5000 Naira, 15 Usd, 40000 Ush, 25000Tsh</p>
  </div>

  </div>

     </div>

     <div class="col-sm-6 ">
       <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5"></div>
     </div>

   </div>
 </div>

{% endblock %}
