{% extends "base.html" %}
{% load static %}
{% block title %} 1XPredict Free Tips {% endblock %}
{% block content %}

<div class="w3-row-padding" align = "center">

<div class="w3-third">
<div class="card" style="width: 18rem;" align = "center">
  <div class="card-header bg-info border-success"><b>M-PESA</b></div><hr>
  <img src="{% static "img/mpesa.png"  %}"><hr>
  <div class="card-body">
    <p>  Pay Bill</p>

    <p>   Business Number 247247</p>

    <p>  Account Number 0470171468770</p>

    <p>   Amount KSH.999</p>
  </div>
</div>
</div>

<div class="w3-third">
<div class="card" style="width: 18rem;" align = "center">
  <div class="card-header bg-info border-success"><b>Vodacom Tanzania</b></div><hr>
  <img src="{% static "img/vodacom.jpeg"  %}"><hr>
  <div class="card-body">
    <p> On your Vodacom line </p>

    <p>Dial *150*00#</p>

    <p>Receiptient number: </p>

    <p>+254702290881</p>
  </div>
</div>
</div>

<div class="w3-third">
<div class="card" style="width: 18rem;" align = "center">
  <div class="card-header bg-info border-success"><b>MTN Uganda</b></div><hr>
  <img src="{% static "img/mtn.png"  %}"><hr>
  <div class="card-body">
    <p> On your MTN line </p>

    <p>Dial *165#</p>

    <p>Receiptient number: </p>

    <p>+254702290881</p>
  </div>
</div>
</div>
</div>


<div class="w3-row-padding" align = "center">

<div class="w3-third">
<div class="card" style="width: 18rem;" align = "center">
  <div class="card-header bg-info border-success"><b>First Bank</b></div><hr>
  <img src="{% static "img/first.png"  %}"><hr>
  <div class="card-body">

    <p>   Ugochukwu Samuel Osinachi </p>

    <p>  Account Number 3094329572</p>

    <p>   Amount 5,000 Naira</p>
  </div>
</div>
</div>

<div class="w3-third">
<div class="card" style="width: 18rem;" align = "center">
  <div class="card-header bg-info border-success"><b>PAYPAL</b></div><hr>
  <img src="{% static "img/paypal.png"  %}"><hr>
  <div class="card-body">

    <p>Kindly make your 15$ monthly subscription fee through PayPal to this email</p>

    <p>1xpredict@gmail.com</p>

  </div>
</div>
</div>

<div class="w3-third">
<div class="card" style="width: 18rem;" align = "center">
  <div class="card-header bg-info border-success"><b>MTN Rwanda</b></div><hr>
  <img src="{% static "img/mtn.png"  %}"><hr>
  <div class="card-body">
    <p> On your MTN line </p>

    <p>Dial *830#</p>

    <p>Receiptient number: </p>

    <p>+254702290881</p>
  </div>
</div>
</div>
</div>
{% endblock %}
