{% load static %}

<div class="col-sm-12 " align = "center">
<div class="col-md-4">

  <h6 style="color:white">Call Now</h6>
<p style="color:white">
+254703419149
</p>

<h6 style="color:white">Contact Us Via Skype</h6>
<h6 style="color:white">1XPredict</h6>
</div>

<div class="col-md-4">
  <h6 style="color:white">Email Us</h6>
  <h6 style="color:white">General Enquiries</h6>
  <p style="color:white">1xpredict@gmail.com</p>


</div>

<div class="col-md-4">
  <h6 style="color:white">copyright © 2018</h6>
  <h6 style="color:white">powered by 1XPredict.com</h6>
  <p style="color:white"> Version: 2.9 2018-03-25</p>

</div>
</div>
