{% load static %}

<div class="w3-bar  w3-blue w3-padding-16 w3-large">
  <a href="/home/" class="w3-bar-item w3-button"><b>
    <font style="color:white">1XPredict</font></b></a>
    <a href="/register/"style="float:right" class="w3-bar-item w3-button w3-hide-small"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Register</a>
    <a href="/accounts/login/"style="float:right" class="w3-bar-item w3-button w3-hide-small"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login</a>
    <a href="/subscribe/"style="float:right" class="w3-bar-item w3-button w3-hide-small">Subscribe</a>
    <a href="/results/"style="float:right" class="w3-bar-item w3-button w3-hide-small">Results</a>
    <a href="/home/" style="float:right" class="w3-bar-item w3-button w3-hide-small">Free Predictions</a>

  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="myFunction()">&#9776;</a>
</div>

<div id="demo" class="w3-bar-block w3-blue w3-hide w3-hide-large w3-hide-medium">
  <a href="/home/" class="w3-bar-item w3-button">Free Predictions</a>
  <a href="/results/" class="w3-bar-item w3-button">Results</a>
  <a href="/subscribe/" class="w3-bar-item w3-button">Subscribe</a>
  <a href="/accounts/login/" class="w3-bar-item w3-button"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login</a>
  <a href="/register/" class="w3-bar-item w3-button"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Register</a>
</div>
